{% extends '_base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}
<h1>Homepage</h1>
<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
    <input name="Q" class="form-control mr-sm-2" type="text" placeholder="Search", arial-label="Search">
</form>
{% if user.is_authenticated %}
Hi {{ user.email }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
<a href="#" >Blog</a>
{% endif %}

{% endblock content %}